body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-white);
    color: var(--color1);
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

:root {
    --color1: #2B4162;
    --color2: #385F71;
    --color2-lo: rgba(56, 95, 113, 0.74);
    --color3: #B9B6BA;
    --color-white: #F5F0F6;
    --color-white-lo: rgba(245, 240, 246, 0.123);
    --color-black: #000000;
    --padding: 14px 20px;
}

a {
    text-decoration: none;
}

.header {
    background-image: url("https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 350px;
    width: 100%;
    padding-top: 350px;
}

.header div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.header hr {
    width: 25%;
    height: 20px;
    border: none;
    border-radius: 15px;
    background-color: var(--color1);
    display: block;
    margin: 25px auto;
}

.header div h1 {
    font-size: 125px;
}

.header img {
    height: 150px;
}

.header div p {
    font-size: 50px;
    color: white;
    font-style: italic;
    padding: 5px;
}

.nav {
    overflow: hidden;
    background-color: var(--color1);
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 50px;
}

.nav button {
    background-color: var(--color1);
    border: none;
    font-size: 10px;
}

.nav a,
.nav button {
    color: white;
    text-align: center;
    padding: var(--padding);
    text-decoration: none;
    font-size: 18px;
}

.nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 25px;
    background-color: var(--color1);
}

.nav a:hover,
button:hover {
    background-color: var(--color-white);
    color: var(--color1);
}

.contents-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 200px 200px;
    height: 500px;
    background-color: var(--color-white);
}

.contents-table div img {
    display: flex;
    justify-content: center;
    height: 256px;
    margin: auto;
}

.contents-table div h1 {
    text-align: center;
}

.figma {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    background-color: var(--color2);
    color: var(--color-white);
}

.figma-left {
    float: left;
}

.figma-right {
    float: right;
}

.figma-right img {
    height: 500px;
}



#pede-nupp {
    display: block;
    margin: auto;
    margin-top: 100px;
    padding: 10px 50px;
    background-color: var(--color-white);
    border: 2px solid var(--color1);
    border-radius: 15px;
    color: var(--color1);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    /* change modal size */
    width: 35%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.colse:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

.modal-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3% 20%;
}

.modal-inner p,
input,
button {
    margin-bottom: 2%;
}

#postAd {
    width: 33%;
    margin: auto;
    margin-top: 15px;
}

.modal-inner div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modal-inner div :not(.special) {
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-inner div p {
    margin-right: 2%;
    text-align: right;
    width: 123px;
}

.special {
    background-color: rgba(100, 148, 237, 0.534);
    padding: 10px;
}


#manualOccupation {
    width: 179px;
}

/* Dropdown */

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 600px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {display: block;}

.about-us-div {
    padding-top: 5%;
    margin-right: 50%;
    font-size: 25px;
    text-align: justify;
}

.about-us-div p {
    margin-top: 10px;
}

#openAd, #search {
    margin-top: 2.5%;
    height: 38px;
    width: 10%;
    margin-right: 1%;
}


.adNav {
    display: flex;
}

#dummy-ads li{
    margin: 1%;
    list-style-type: none;
    font-size: 25px;
}

.ad {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ad p{
    margin: 1%;
}

.ad p {
    font-size: 25px;
}

.ad button {
    margin: auto;
    font-size: 15px;
    padding: 5px;
    border-radius: 15px;
    border: 2px solid royalblue;    
    background: transparent;
}

.ad button:hover {
    background: royalblue;
    color: white;
}

#postAd {
    font-size: 15px;
    padding: 5px;
    border-radius: 15px;
    border: 2px solid royalblue;    
    background: transparent;
}

#postAd:hover {
    background: royalblue;
    color: white;
}